@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura/Futura-Bold.eot');
	src: url('../fonts/Futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura/Futura-Bold.woff2') format('woff2'),
		url('../fonts/Futura/Futura-Bold.woff') format('woff'),
		url('../fonts/Futura/Futura-Bold.ttf') format('truetype'),
		url('../fonts/Futura/Futura-Bold.svg#Futura-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.gtasa-notification-container {
	position: absolute;
	width: 25%;
}

.gtasa-notification {
	font-stretch: expanded;
	max-width: 100%;
	letter-spacing: 1.5px;
	font-family: Futura, Arial, Helvetica, sans-serif;
	margin: 20px;
	padding: 20px;
	color: rgb(178, 178, 178);
	background: rgba(0, 0, 0, .25);
}

@keyframes gtasa-fade {
	from {
		color: rgb(178, 178, 178);
		background: rgba(0, 0, 0, .25);
	}
	to {
		color: #ffffff00;
		background: rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 769px) {
	.gtasa-notification-container {
		width: 100%;
	}
}